* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  list-style: none;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #f4f4f4;
  background: url("../images/gradient-bg-img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-app-region: no-drag;
}

.app {
  display: flex;
}

.back-btn {
  position: absolute;
  top: 3em;
  left: 4em;
}

.back-btn img {
  width: 30px;
}

h1 {
  margin-bottom: 0.5em;
}

h3 {
  margin: 0.8em 0 0.3em 0;
}

.settings-list-container {
  margin: 6rem 0 0 4.2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  color: #ababab;
  background: #2c2c2c;
  width: 500px;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.background-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.background-option:hover {
  background-color: #929292;
}

.background-option img {
  width: 100px;
}

input,
textarea {
  color: #f4f4f4;
  font-size: 1rem;
  width: 200px;
  max-height: 6em;
  padding: 0.5rem;
  resize: none;
  border: none;
  border-radius: 4px;
  background-color: #2c2c2c;
}

#cta-save {
  margin-top: 2em;
  cursor: pointer;
  color: #f4f4f4;
  width: 130px;
  height: 40px;
  border: 0;
  border-radius: 4px;
  background-image: linear-gradient(to right, #6253e1, #852d91);
}
